<header>
  <ul>
    <li><a href="/main/index">Main</a></li>
    <li><a href="/main/contacts">Contacts</a></li>
    <li><a href="/main/help">Help</a></li>
    <li><a href="/main/about">About</a></li>
  </ul>
</header>